<h1 style="background-color:rgb(238, 130, 238); color:blue; border: 2px solid black; margin: 50px; padding: 1px;">Hi, Akki</h1>
<p style="color:03002e; font-size:150%;">I have completed Ruby, Datastructures and now learning html, css, javascript and ruby on rails.</p>
<hr>
<p style="color:grey;"> hr breaks html page </p>
<p>hr<br>breaks html page.Breaks line.</p>
<pre style="text-align:center;"> hii akki </pre>


<!-- lang="en-US" comment --> 
<!-- background colr ? -->
<!-- font-family -->


